arxiv==1.4.7
cohere==4.7.0
cryptography==38.0.4
dill==0.3.5.1
faiss-cpu==1.7.4
Flask-Caching==2.0.2
google-auth-oauthlib==0.4.6
langchain==0.0.198
langchainplus-sdk==0.0.9
llama-index==0.6.9
mmh3==4.0.0
oauthlib==3.2.2
openai==0.27.7
pdfminer.six==20221105
pygpt4all==1.1.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pypdf==3.9.1
requests-oauthlib==1.3.1
semanticscholar==0.4.1
tenacity==8.2.2
tiktoken==0.4.0
unstructured==0.6.10
unstructured-inference==0.4.4
wikipedia==1.4.0
